# -----------------------
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=strongpassword
MINIO_BUCKET=bucket
MINIO_ENDPOINT=minio:9000
# ------------------------
MINIO_SECURE=true
MINIO_PUBLIC_URL=https://190.150.220.130:9000
# ------------------------
DB_USER=digitalpassport
DB_PASSWORD=digitalpassportpass
DB_HOST=db
DB_PORT=5432
DB_NAME=digitalpassportdb
# -------------------------
SECRET_KEY=secretkey
# -------------------------
# -------------------------
GOOGLE_REDIRECT_URI=passnow
FRONTEND_URL=passnow
